extends layout

block content
  .container
    .panel.panel-primary
      .panel-heading
        h2.text-center My Library RESTful API
      .panel-body.text-center
        h3 Our API features:
        ul
          li
            | Handle CRUD for an books in library
          li
            | Use the proper HTTP verbs to make it RESTful (GET, POST, PUT, and DELETE)
          li
            | Return JSON data
        h3 Example usage:
        .well
          p Get all my books in library with GET. Returns an array of JSON objects
          code https://my-library-api.herokuapp.com/api/books
        .well
          p Add new book in library with POST. Returns single JSON object with message (success or error)
          code https://my-library-api.herokuapp.com/api/books
          p Request body must have a JSON {"bookTitle" : "Book name"} or {"bookTitle" : "Book name",  "bookLang": "ru"} if title is not English
        .well
          p Get single book in library with GET. Returns single JSON object
          code https://my-library-api.herokuapp.com/api/books/:book_title
        .well
          p Update book info PUT. Returns single JSON object with message (success or error)
          code https://my-library-api.herokuapp.com/api/books/:book_title
        .well
          p Delete a book with DELETE. Returns single JSON object with message (success or error)
          code https://my-library-api.herokuapp.com/api/books/:book_title
